<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="字幕匹配" value=".ass|.srt" />
        <add key="字幕排除" value="\[|\]|\(|\)|[\u4e00-\u9fa5]" />
        <add key="视频匹配" value=".mp4|.mkv|.flv" />
        <add key="默认扩展名" value="|.chs|.cht" />
        <add key="硬链接默认路径" value="{RootPath}Media\" />
        <add key="剧集文件名模板" value="{{SubjectNameCn}} - {{EpisodesSort}} - {{EpisodeNameCn}} - {{SourceFileName}}" />
        <add key="电影文件名模板" value="{{SourceFileName}}" />
        <add key="qBittorrent网页地址" value="http://127.0.0.1:8080" />
        <add key="qBittorrent下载路径" value="G:\Media" />
    </appSettings>
</configuration>